# Copy this file and rename it `env`
# Do NOT ever include your *real* env in version control

MYSQL_DATABASE=msis_triage
MYSQL_HOST=msis.cgk7gpqe2ivx.us-east-1.rds.amazonaws.com
MYSQL_USER=msisadmin
MYSQL_PASSWORD=wyrm(Wo0d)
